@page
@model BookManagement_RazorPage.Pages.BookPage.IndexModel

@{
    ViewData["Title"] = "Index";
    //Author
    string role = HttpContext.Session.GetString("Role");

    if (!role.Equals("Admin")&&!role.Equals("User"))
    {
        Response.Redirect("/Permission");
    }
    
}

<h1>Book List</h1>

@{
    if (role.Equals("Admin"))
    {
        <p>
            <a asp-page="Create" class="btn btn-primary">Create New</a>
        </p>
        <div class="mb-3">
            <a asp-page="/OrderPage/Index" class="btn btn-primary">Go to Orders</a>
        </div>
    }
}

<div class="mb-3">
    <form method="post" asp-page="/Logout">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var book in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => book.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => book.Category.Name)
            </td>
            <td>
                    @{
                        if(role.Equals("Admin"))
                        {
                            <a asp-page="./Edit" asp-route-id="@book.Id" class="btn btn-success">Edit</a>
                            <a asp-page="./Details" asp-route-id="@book.Id" class="btn btn-info"> Details </a>
                            <a asp-page="./Delete" asp-route-id="@book.Id" class="btn btn-danger"> Delete </a>
                        }
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
